<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name = "description" content = "Модуль 7 - MVC">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>  
        <header class="header">
            <nav class="header__main-nav main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item main-nav__item_font-inter">
                        <a
                            href="/"
                            class="main-nav__link"
                        >
                            HOME
                        </a>
                    </li>
                    <li class="main-nav__item main-nav__item_font-inter">
                        <a
                            href="/companies"
                            class="main-nav__link"
                        >
                            COMPANIES
                        </a>
                    </li>
                    <li class="main-nav__item">
                        <a
                            href="/offices"
                            class="main-nav__link"
                        >
                            OFFICES
                        </a>
                    </li>
                    <li class="main-nav__item">
                        <a
                            href="/buildings"
                            class="main-nav__link"
                        >
                            BUILDINGS
                        </a>
                    </li>
                    <li class="main-nav__item">
                        <a
                            href="/cities"
                            class="main-nav__link"
                        >
                            CITIES
                        </a>
                    </li>
                    <li class="main-nav__item">
                        <a
                            href="/countries"
                            class="main-nav__link"
                        >
                            COUNTRIES
                        </a>
                    </li>
                </ul>
            </nav>

            {% if isLoggedIn == undefined %}
                <div class="login-menu">
                    <a 
                        href="/workerSignInForm"
                        class="login-menu__btn-sign-in"
                    >
                        Sign in
                    </a>
                    <a 
                        href="/workerSignUpForm"
                        class="login-menu__btn-sign-up"
                    >
                        Sign up
                    </a>
                </div>
            {% else %}
                <div class="header__personal-account-menu">
                    <a 
                        href="/workerPersonalAccount"
                        class="header__personal-account-link"
                    >
                        Personal account
                    </a>
                    <a 
                        href="/workerSignOut"
                        class="header__personal-account-link"
                    >
                        Sign out
                    </a>
                </div>
            {% endif%}
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="footer__item">
                <a 
                    href="https://career.lachestry.com/"
                    class="footer__logo-link"
                    target="_blank"
                >
                    <svg 
                        class="footer__logo-svg"
                        width="164"
                        height="32"
                        viewBox="0 0 164 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g clip-path="url(#clip0_1145_4236)">
                            <path d="M157.557 2H155.214V8.33321L148.771 11.8475V18.8761L143.5 21.7517L138.228 18.8761V13.2387L144.061 10.0571L142.939 8.00006L135.886 11.8475V20.2673L142.328 23.7815V30.1143H144.671V23.7811L149.943 20.9055L156.386 24.4197L164 20.2668V11.8475L157.557 8.33321V2ZM161.657 18.8761L156.386 21.7517L151.114 18.8761V13.2387L156.386 10.3635L161.657 13.2387V18.8761Z" fill="#1BA86B"/>
                            <path d="M2.64633 7.76166V21.9088H10.9232V24.023H0.464661V7.76166H2.64633ZM22.9786 19.7496H16.726L14.9941 24.023H12.8349L19.9422 7.08691H20.0772L27.1845 24.023H24.6654L22.9786 19.7496ZM22.2364 17.8603L19.9197 11.9226L17.5132 17.8603H22.2364ZM42.1638 22.8084C41.639 23.1533 40.9755 23.4719 40.1733 23.7643C39.3711 24.0567 38.4977 24.2029 37.553 24.2029C35.8887 24.2029 34.423 23.8355 33.156 23.1008C31.8889 22.3661 30.9143 21.3765 30.2321 20.1319C29.5498 18.8874 29.2087 17.5154 29.2087 16.016C29.2087 14.4116 29.5536 12.9684 30.2433 11.6864C30.9331 10.4044 31.8889 9.39978 33.111 8.67256C34.333 7.94534 35.7162 7.58173 37.2606 7.58173C38.1753 7.58173 39.03 7.70168 39.8247 7.94159C40.6194 8.1815 41.3316 8.49638 41.9613 8.88623L41.0842 10.9329C39.8397 10.0933 38.5876 9.67343 37.3281 9.67343C36.2785 9.67343 35.3076 9.95082 34.4155 10.5056C33.5233 11.0604 32.8111 11.8139 32.2788 12.766C31.7465 13.7181 31.4803 14.764 31.4803 15.9036C31.4803 17.0731 31.724 18.1302 32.2113 19.0748C32.6986 20.0195 33.3959 20.758 34.303 21.2903C35.2102 21.8225 36.256 22.0887 37.4406 22.0887C38.895 22.0887 40.162 21.6764 41.2416 20.8517L42.1638 22.8084ZM58.7175 24.023H56.5358V16.8932H48.0115V24.023H45.8299V7.76166H48.0115V14.8015H56.5358V7.76166H58.7175V24.023ZM73.9667 7.76166V9.85336H65.5773V14.8015H73.067V16.8932H65.5773V21.9088H74.2815V24.023H63.3957V7.76166H73.9667ZM86.4944 10.6631C85.9002 10.3443 85.2746 10.0881 84.6276 9.89834C83.9678 9.70342 83.3456 9.60595 82.7608 9.60595C81.8761 9.60595 81.1752 9.80463 80.6579 10.202C80.1405 10.5993 79.8819 11.1429 79.8819 11.8326C79.8819 12.5073 80.1855 13.0584 80.7928 13.4857C81.4001 13.9131 82.266 14.3367 83.3906 14.7565C84.2302 15.0564 84.9387 15.3825 85.516 15.7349C86.0933 16.0872 86.5731 16.5745 86.9555 17.1968C87.3378 17.8191 87.529 18.61 87.529 19.5697C87.529 20.4393 87.3116 21.2265 86.8767 21.9313C86.4419 22.636 85.8234 23.1908 85.0212 23.5956C84.219 24.0005 83.2781 24.2029 82.1985 24.2029C81.1939 24.2029 80.2268 24.0417 79.2971 23.7193C78.3675 23.3969 77.5503 22.9884 76.8456 22.4935L77.8127 20.7617C78.3675 21.1815 79.0347 21.5377 79.8144 21.83C80.5941 22.1224 81.3214 22.2686 81.9961 22.2686C82.8658 22.2686 83.6267 22.0437 84.279 21.5939C84.9312 21.1441 85.2573 20.4768 85.2573 19.5921C85.2573 18.8424 84.9837 18.2464 84.4364 17.8041C83.8891 17.3617 83.1207 16.9457 82.131 16.5558C81.2164 16.2109 80.4554 15.8736 79.8482 15.5437C79.2409 15.2138 78.7198 14.7602 78.285 14.183C77.8502 13.6057 77.6328 12.8822 77.6328 12.0125C77.6328 10.738 78.0788 9.70717 78.971 8.91997C79.8632 8.13277 81.0215 7.71667 82.4459 7.67169C84.2002 7.67169 85.8271 8.10653 87.3266 8.97619L86.4944 10.6631ZM100.776 7.76166V9.85336H96.4131V24.023H94.2314V9.85336H89.9805V7.76166H100.776ZM113.214 24.023L109.391 18.0177C109.271 18.0327 109.091 18.0402 108.851 18.0402H106.444V24.023H104.263V7.76166H108.603C109.713 7.76166 110.703 7.95658 111.572 8.34643C112.442 8.73629 113.124 9.30982 113.619 10.067C114.114 10.8242 114.361 11.7351 114.361 12.7997C114.361 13.8044 114.14 14.7265 113.698 15.5662C113.255 16.4059 112.577 17.0431 111.662 17.478L115.756 24.023H113.214ZM108.806 15.926C109.975 15.926 110.819 15.6187 111.336 15.0039C111.853 14.3891 112.112 13.6844 112.112 12.8897C112.112 12.4099 112.003 11.9376 111.786 11.4727C111.569 11.0079 111.224 10.6218 110.751 10.3144C110.279 10.0071 109.683 9.85336 108.963 9.85336H106.444V15.926H108.806ZM131.702 7.76166L125.607 18.6025V24.023H123.425V18.6025L117.398 7.76166H120.097L124.572 16.1285L129.026 7.76166H131.702Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_1145_4236">
                            <rect width="164" height="28.1143" fill="white" transform="translate(0 2)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="footer__item">
                <ul class="footer__social-list social-list">
                    <li class="social-list__item">
                        <a 
                            href="https://vk.com/lachestry"
                            class="social-list__link"
                            target="_blank"
                        >
                            <svg
                                class="social-list__svg"
                                width="28"
                                height="28"
                                viewBox="0 0 28 28"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M18.0935 0.666992H9.90758C2.43753 0.666992 0.666687 2.43784 0.666687 9.90788V18.0938C0.666687 25.5638 2.43753 27.3347 9.90758 27.3347H18.0935C25.5635 27.3347 27.3344 25.5638 27.3344 18.0938V9.90788C27.3344 2.43784 25.546 0.666992 18.0935 0.666992ZM22.1952 19.6904H20.2593C19.526 19.6904 19.3001 19.1088 17.981 17.7721C16.8351 16.6613 16.3276 16.5138 16.0451 16.5138C15.6459 16.5138 15.5326 16.6263 15.5326 17.1738V18.9229C15.5326 19.3921 15.3851 19.6738 14.1434 19.6738C12.0901 19.6738 9.81174 18.4321 8.21423 16.1188C5.80505 12.7287 5.14588 10.1896 5.14588 9.66455C5.14588 9.38205 5.25838 9.11788 5.80089 9.11788H7.7409C8.23173 9.11788 8.4184 9.34371 8.60924 9.86872C9.56841 12.6379 11.1659 15.0637 11.8251 15.0637C12.0684 15.0637 12.1809 14.9512 12.1809 14.3304V11.4704C12.1068 10.1512 11.4126 10.0379 11.4126 9.56955C11.4126 9.34371 11.5993 9.11788 11.8984 9.11788H14.9493C15.3618 9.11788 15.5134 9.34371 15.5134 9.82955V13.6879C15.5134 14.1046 15.7001 14.2521 15.8126 14.2521C16.0559 14.2521 16.2643 14.1046 16.7151 13.6529C18.1085 12.0904 19.1068 9.68122 19.1068 9.68122C19.2368 9.39871 19.4626 9.13455 19.9535 9.13455H21.8935C22.4752 9.13455 22.6052 9.43371 22.4752 9.85038C22.2318 10.9787 19.8576 14.3296 19.8576 14.3296C19.6535 14.6679 19.5751 14.8154 19.8576 15.1929C20.066 15.4754 20.7435 16.0613 21.1943 16.5863C22.0235 17.5279 22.661 18.3179 22.831 18.8646C23.0218 19.4071 22.7402 19.6896 22.1927 19.6896L22.1952 19.6904Z" fill="white" fill-opacity="0.6"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a 
                            href="https://ru.linkedin.com/company/lachestry"
                            class="social-list__link"
                            target="_blank"
                        >
                            <svg
                                class="social-list__svg"
                                width="26"
                                height="26"
                                viewBox="0 0 26 26"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M5.09503 0C2.29316 0 0 2.29311 0 5.09503V20.9058C0 23.7077 2.29311 26 5.09503 26H20.9058C23.7077 26 26 23.7077 26 20.9058V5.09503C26 2.29316 23.7077 0 20.9058 0H5.09503ZM6.3765 4.29052C7.71994 4.29052 8.54744 5.17246 8.57298 6.33177C8.57298 7.46547 7.71989 8.3722 6.35052 8.3722H6.32531C5.00745 8.3722 4.15565 7.46552 4.15565 6.33177C4.15565 5.17249 5.03325 4.29052 6.3765 4.29052ZM17.9536 9.70895C20.5373 9.70895 22.4742 11.3977 22.4742 15.0266V21.8012H18.5477V15.4808C18.5477 13.8926 17.9794 12.809 16.5584 12.809C15.4736 12.809 14.8271 13.5393 14.5432 14.2449C14.4395 14.4973 14.414 14.8498 14.414 15.2029V21.8012H10.4875C10.4875 21.8012 10.539 11.0946 10.4875 9.98602H14.4148V11.6592C14.9366 10.8541 15.8699 9.70895 17.9536 9.70895ZM4.38726 9.98688H8.31375V21.8013H4.38726V9.98688Z" fill="white" fill-opacity="0.6"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item copyright">
                <time datetime="2022">2022</time> © Lachestry.
            </div>
        </footer>
    </body>
</html>