{% layout "defaultLayout.liquid", title: '404' %}

{% block content %}
    <main>
        <div class="page-not-found">
            <div class="page-not-found__wrapper">
                <div class="page-not-found__main-text">404</div>
                <div class="page-not-found__text">
                    Page not found
                </div>
                <a 
                    href="/"
                    class="page-not-found__link-home-page"
                >
                    Try to go to home page
                </a>
            </div>
        </div>
    </main>
{% endblock %}