{% layout "defaultLayout.liquid", title: 'Personal account' %}

{% block content %}
    <main class="main">
        <div class="main__content-wrapper">
            <h2 class="main__title">Personal menu</h2>

            <ul class="personal-menu">
                <li class="personal-menu__item">
                    <a 
                        href="/workerProfileInformation"
                        class="personal-menu__link"
                    >
                        Profile information
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a
                        href="/workerCompanies"
                        class="personal-menu__link"
                    >
                        My companies
                    </a>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}