.header {
    position: relative;

    @include flex(center, $align-items: center, $column-gap: 7rem);

    width: 100%;

    @include font(1.8rem, 1.3, 600, $light-pink);
    text-transform: uppercase;
    
    text-shadow: 0.15rem 0.15rem 0.2rem $light-violet;
    background: linear-gradient(180deg, $header-gradient-top 16%, $header-gradient-bottom);
    box-shadow: 0 0 2rem $brown;
    
    @include screen-from($desktop) {
        height: 8rem;
        padding: 2rem 6rem;
    }

    @include screen-between($tablet, $desktop) {
        height: 7rem;
        padding: 5rem 4rem;
    }

    @include screen-till($tablet) {
        @include flex($direction: column);

        height: fit-content;
        padding: 0;

        text-align: center;
    }

    &__personal-account-menu {
        @include flex(center, wrap, center, row, 2rem, 1rem);

        @include screen-till($tablet) {
            @include flex($direction: column, $row-gap: 1.5rem);

            margin-bottom: 2rem;
        }
    }

    &__personal-account-link {
        text-align: center;

        cursor: pointer;

        &:hover {
            color: $blue-neon;
            text-shadow: 0 0 2.5rem $blue-neon;
        }
    
        &:active {
            opacity: 0.5;
        }
    }
}