$brown: #a50e0e;
$light-violet: #a279d1;
$light-pink: #d4b9d4;
$black: #000000;
$red: #e90808;
$green: #63b42e;
$white: #ffffff;
$list-item-bg: #a16c6c;
$list-item-hover-bg: #c57d7d;
$blue-neon: #14d0d6;
$dark-gold: #925732;
$header-gradient-top: #1d005a;
$header-gradient-bottom: #0c0129;
$orange: #f19915;
$violet: #6603b8;
$blue: #303ac7;