{% layout "defaultLayout.liquid", title: 'Country' %}
{% assign country = this.getData %}

{% block content %}
    <main class="main">
        <div class="main__content-wrapper">
            <h2 class="main__title">Country!</h2>

            <div class="country">
                <img 
                    src="/img/country.jpg"
                    alt="Картинка здания"
                    class="country__img"
                >
                <p class="country__text">
                    Name: {{ country.name }}
                </p>
                <p class="country__text">
                    Prestige: {{ country.prestige }}
                </p>
            </div>
        </div>
    </main>
{% endblock %}